* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
#turnscoring {
  background-color: black;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

#placeholder {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:50px;
}

#board {
  height: 300px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  object-position: center;
}

#blankScore {
  height: 60px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:50px;
}

#player1 {
  height: 200px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
}

#player2 {
  height: 200px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
}


body {
  background-color: lightyellow;
}

.jumbotron {
  background-color: lightgreen;
  color: currentColor;
  font-style: italic;
  font-family: monospace;
  font-size: 50px;
}

#start1 {
  background-color: maroon;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}

#stop1 {
  background-color: maroon;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}

#start2 {
  background-color: maroon;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}

#stop2 {
  background-color: maroon;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}

label {
  color: currentColor;
  font-size: 20px;
}
